* {
    margin: 0 16px;
    padding: 24px 0;
}
.cabecalho {
    width: 100%;
    background-color: #7d0081;
    color:  rgb(90, 112, 211);
    display:flex;
    justify-content: space-around;
    padding: 19 px 0;
}
.cabecalho-imagem{
    width: 20%
}
.cabecalho-lista-item{
    display: inline-block;
}
.cabecalho-lista-item{
    display:inline-block;
    margin: 0 16px;
    padding: 24px 0;
    font-size: 24px;
}
